* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #000000;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;/*to get the space around items*/
    background-color:   #333333;
    box-shadow: 3px 3px 20%#470202;
    position: sticky;
    
    
}
.navbar__brand{
    width: 100px;

}
.navbar__logo{
    width: 100%;
}
.button__primary{
    background-image: linear-gradient(
        to right,/*direction ie we want the button to be in right*/
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%

    );
    color: black;/*for font */
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    
}
.button__primary:hover{
    background: #ff0000;
    cursor: pointer;
    box-shadow: 0 0 10px #e64861, 0 0 40px #e64861,0 0 80px #e64861;
    transition-delay:0.5%; 
  
}
.container{
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;

 
}
.hero__image__container{
    width: 100%;
}

.hero__image{
    width: 100%;
    border-radius: 8px;
    left: auto;
    right: auto;
    box-shadow: 0px 25px 50px -12px  #333333 ;
}
.hero__text{
    color: #c92d2dfc;
    font-size: 30px; /*always good to have font size as multiple of 4*/
    margin: 20px 0px;
    font-size: bolder;

}

.food__card__description{
    padding: 20px;
}
.food__cards{
    background-color:   #333333;
    margin-top: 10px;
    border-radius: 2;

    
}
.food__card__image__container{
    width: 100%;
    /* margin-top: 20px; */

}
.food__image{
    width: 100%;
    border-radius: 6px;
}
.explore__menu__text{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.viewmore__container{
    margin: 20px 0;
    color:black;
    font-weight: 800;
    text-align: center;
    transition-delay: 0.5s;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%);
} 
.list__description{
    color:white;
    margin-top: 40px;
    
}
.restaurant__list__row_1{
    display: flex;
    margin-top: 30px;
}
.restaurant__list__row_2{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.restaurant1,.restaurant3{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: #333333;
    border-radius: 4px;

}
.restaurant1{
    margin-right: 10px;
}
.restaurant4{
    margin-right: 10px;
}
.restaurant2,.restaurant4{
    width: 150px;
    height: 80px;
    box-shadow: #333333;
    border-radius: 4px;
    
}
.text{
    margin-top: 20px;
}
.email__input{
    margin-top: 20px;
}
.email{
    border:20px #f52900;
    background-color: #333333;
    color: black;
    border-radius: 5px;
    padding: 2px;
    height: 30px;
}
.update__class{
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: space-evenly;
}
.video__player::before{
    background: linear-gradient(
        to right,
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%);
        right: 2px;
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        
        top: 20px;
        

}
.video__player{
    position: relative;
    
}
.video{
    border: 0;

}
.video__description{
    margin-top: 40px;
    font-weight: bold;

}
.explore__menu__container{
    margin-top: -10px;
}
.quote__image{
    width: 100%;
    height: 100px;
}
.stay__updated{
    text-align: center;
    
}
.text{
    font-weight: 900;
}
.footer__list{
    text-align: center;
    list-style-type: none;
}
.bottom__logo{
    filter: brightness(0) invert(1);
}
.footer__container{

    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(
        to right,
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%);
}

@media (min-width: 768px){
    .explore__menu__container{
        position: relative;
        
    }
    .explore__menu__text{
        margin-top: 20px;
        font-weight: 900;
    }
    .explore__menu__gradient__background{
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0px;
        right: 0px;
        height: 100%;
        background-image: linear-gradient(
        to right,/*direction ie we want the button to be in right*/
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%);
        z-index: -3;/*to overwrite some image*/
        transform: skewY(-5deg);
    }
    
    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top: 50px;
        padding: 0px 30px;
    }
    #pizza__card{
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;/*top-bottom,right-left*/
    }
    .hero__container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
    }
    .food__cards{
        box-shadow:0 25px 50px -12px rgb(0 0 0/25%);
        border-radius: 8px;
    }
    .video__player::before{
        width: 40%;    
    }
    .video__container,.video__player::before{
        margin-left: 100px;
    }
    .list__description{
        padding-top: 50px;
        text-align: center;
        font-weight: bolder;
    }
    .restaurant__list__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    .restaurant__list__images__container{
        margin-top: 40px;
    }
    .stay__updated{
        text-align: center;
        font-weight: 900;
        font-size: 20px;
    }
    .email__input{
        border: 0pxs;
        width: 20rem;
        padding: 50px;
        margin: -10px;

    }
    .restaurant2{
        height: 110px;
    }
    .restaurant1{
        width: 180px;
    }
    .restaurant3{
        width: 150px;
    }
    .footer__container{
        display: flex;
        gap: 80px;
    }
    .footer__list{
        margin-top: 40px;
        font-weight: 900;
        font-size: 20px;
    }
    .list__text{
        font-size: 30px;
    }
    .update__button{
        font-size: 20px;
    }
    .email{
        size: 20px;
    }
   
}
@media (min-width: 1024px){
    .video__container{
        display: none;
        /* width: 50%;
        left:  -20px; */


    }
    .explore__menu__lists{
        
        gap: 25px;
        
    }
    .container{
        max-width: 70%;
    }
    .navbar__brand{
        width: 150px;

    }
    .button__primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero__description{
        width: 100%;
    }
    .hero__text{
        font-size: 48px;
    }
    .explore__menu__text{
        font-size: 40px;
        font-weight:400;
    }
    .explore__menu__container{
        position: relative;
    }

    .explore__menu__gradient__background{
        position: absolute;
    }
    .list__description{
        font-size: 30px;
    }
    .stay__updated{
        font-size: 30px;
    }
 
    .restaurant1{
        width: 300px;
        height: 200px;
        box-shadow: #333333 50px;
    }
   .restaurant2{
       width: 250px;
       height: 180px;
       box-shadow:20% #333333;
   }
   .restaurant3{
       width: 250px;
       height: 150px;
       box-shadow: 20%#333333;
    }
    .restaurant4{
        width: 250px;
        height: 180px;
        box-shadow:20% #333333;
    }
    .footer__container{
        justify-content: space-evenly;
    }
    
}
