* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #000000;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;/*to get the space around items*/
    background-color:   #333333;
    box-shadow: 3px 3px 20%#470202;
    
}
.navbar__brand{
    width: 100px;

}
.navbar__logo{
    width: 100%;
}
.button__primary{
    background-image: linear-gradient(
        to right,/*direction ie we want the button to be in right*/
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%

    );
    color: black;/*for font */
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    
}
.button__primary:hover{
    background: #ff0000;
    cursor: pointer;
    box-shadow: 0 0 10px #e64861, 0 0 40px #e64861,0 0 80px #e64861;
    transition-delay:0.5%; 
  
}
.container{
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;

 
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 25px 50px -12px  #333333 ;
}
.hero__text{
    color: #c92d2dfc;
    font-size: 30px; /*always good to have font size as multiple of 4*/
    margin: 20px 0px;
    font-size: bolder;

}
.heroShape{
    position: absolute;
}
.food__card__description{
    padding: 20px;
}
.food__cards{
    background-color:   #333333;
    
}
.food__card__image__container{
    width: 100%;
    /* margin-top: 20px; */

}
.food__image{
    width: 100%;
    border-radius: 6px;
}
.explore__menu__text{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}


@media (min-width: 768px){
    .explore__menu__container{
        position: relative;
    }
    .explore__menu__gradient__background{
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0px;
        right: 0px;
        height: 100%;
        background-image: linear-gradient(
        to right,/*direction ie we want the button to be in right*/
        #f55f3a 0%,
        #ff3791 51%,
        #f52900 100%);
        z-index: -3;/*to overwrite some image*/
        transform: skewY(-5deg);
    }
    
    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top: 50px;
        padding: 0px 30px;
    }
    #pizza__card{
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;/*top-bottom,right-left*/
    }
    .hero__container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
    }
    .food__cards{
        box-shadow:0 25px 50px -12px rgb(0 0 0/25%);
        border-radius: 8px;
    }

}
@media (min-width: 1024px){
    .explore__menu__lists{
        
        gap: 25px;
        
    }
    .container{
        max-width: 70%;
    }
    .navbar__brand{
        width: 150px;

    }
    .button__primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero__description{
        width: 100%;
    }
    .hero__text{
        font-size: 48px;
    }
    .explore__menu__text{
        font-size: 40px;
        font-weight:400;
    }
    .explore__menu__container{
        position: relative;
    }

    .explore__menu__gradient__background{
        position: absolute;
    }
}
